/* body {
  background-image: url("https://www.thebalancecareers.com/thmb/p8dJbwwp5yyEzYA5SvuarUkZzRU=/1500x844/smart/filters:no_upscale()/GettyImages-639920934-5a0ce0d40d327a003650bbf4-5c09914f46e0fb00017183bb.jpg");
  
} */

/* .body::before {    
  content: "";
  background-image: url("https://www.thebalancecareers.com/thmb/p8dJbwwp5yyEzYA5SvuarUkZzRU=/1500x844/smart/filters:no_upscale()/GettyImages-639920934-5a0ce0d40d327a003650bbf4-5c09914f46e0fb00017183bb.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  text-align: center;
}

.main-home {
  display: flex;
  margin-top: 20px;
}

#homeH1 {
  /* display: flex;
  align-self: flex-start; */
}

.event-image-div:hover{
  opacity: 0.5
}

img {
  /* opacity: 0.5; */
  height: auto; 
  width: auto; 
  max-width: 300px; 
  /* max-height: 300px; */
}

.navbar {
  display: flex;
  border-color: red;
  border-style: solid;
}

.nav-button {
  margin: auto; 
  padding: 10px 10px;
}

.home-card-event {
  margin: 10px 10px;
}