html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

.app {
    height: 100%;   
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    margin: 0px;  /*removes default style*/
    display: flex;  /*enables flex content for its children*/
    box-sizing: border-box;
}

.header {
  flex-shrink: 0;
  display: inline-flex;
  /* justify-content: center; */
}

.header h1{
  justify-self: left;
  margin-right: 35px;
  padding-left: 40px;
}

.header h3{
  margin-top: 32px;
}

.column {
  display: flex;
  flex-direction: column; 
}



/* Images */
img {
  width: 100%;
  object-fit: cover;
  margin: auto;
  justify-content: center;
  height: 300px;
  /* height: auto; */
} 

.event-image-div {
  border-style: solid;
  border-color: pink;
  overflow: hidden; 
}
 /* opacity: 0.5; */
  /* height: auto; 
  width: auto; 
  max-width: 300px;  */
  /* max-height: 300px; */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: rgb(120, 120, 120); */
  /* position: fixed;
  top: 0;
  width: 100%; */
}

li {
  float: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* #homeH1 { */
  /* display: flex;
  /* align-self: flex-start; */ 
/* } */



/* All Divs */
.main-home {
  flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}
.event-image-div:hover{
  opacity: 0.5
}

.home-event-card {
  border-style: solid;
  border-color: blue;
  /* padding-left: 20px; */
  width: 20%;
}

#left {
  background-color: pink;
  /* margin-right: 20px; */
  /* position: fixed; */
}

/* .all-events {
  grid-area: 2 / 2 / 6 / 6; 
  margin: 0 auto;
  width: 100%;
  display: flex;
  overflow: hidden;  
  min-width: 0; 
  margin-top: 20px;
} */

/* .event-card {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  min-width: 0;
  position: relative;
  border: 2px solid var(--dark-turquoise);
} */


.nav-button {
  margin: auto; 
  padding: 10px 30px;
  display: block;
}

.navbar {
  margin-top: 70px;
  justify-content: center;
  position: center;
  /* background-color: pink; */
}

/* 
.home-card-event {
  margin: 10px 10px;
} */